# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Zakaria's profile 
email: zakaria.m1662@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Zakaria is an electrical engineer and a programmer. He and currently working as a software engineer , developing softwares for self driving vehicles and biometric time attendance solution.
  He is also working for a mining servicing company as an electrical engineer in charge of designing and installing automatic fire suppression system for mining machine.
twitter_username: fatzak62
github_username: zakaria16

search: true

#theme    : "minimal-mistakes-jekyll"
remote_theme: mmistakes/minimal-mistakes
minimal_mistakes_skin: "dark" #"default" , "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"



# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: "Africa/Accra"
include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name      : "Zakaria Mohammed"
  avatar    : "/assets/images/zak.jpg"
  bio       : "Electrical engineer and software developer"
  location  : "Ghana"
  links:
    - label : "Linkedin"
      icon  : "fab fa-fw fa-linkedin"
      url   : "https://linkedin.com/in/zakariamohammed"
    - label : "GitHub"
      icon  : "fab fa-fw fa-github"
      url   : "https://github.com/Zakaria16"
    - label : "Website"
      icon  : "fas fa-fw fa-link"
      url   : "https://mazitekgh.com"
    - label : "Twitter"
      icon  : "fab fa-fw fa-twitter-square"
      url   : "https://twitter.com/fatzak62"
    - label : "Instagram"
      icon  : "fab fa-fw fa-instagram"
      url   : "https://instagram.com/fatzak16"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/fatzak62"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/zakaria16"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/fatzak62"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
